<div class="pages" ng-controller="IndexController">
   <div data-page="login" class="page">
      <div class="page-content text-center login-page">
         <br><br>
         <form id="searchForm" name="searchForm" ng-submit="makeSearch()" class="login-form">
            <div class="list-block">
               <ul class="no-border">
                  <li>
                     <div class="item-content">
                        <div class="item-inner no-margin border-bottom">
                           <div class="item-input">
                              <input id="email" placeholder="Nome do produto" name="product" type="text">
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </form>
         <div class="row">
            <div class="col col-xs-12">
               <button type="submit" class="button button-block btn-circle"><i class="fa fa-search"></i>&nbsp Buscar</button>
            </div>
         </div>
         <p class="text-white">Ou</p>
         <div class="row">
            <div class="col col-xs-12">
               <button type="submit" class="button button-block btn-circle">Abrir catálogo</button>
            </div>
         </div>
      </div>
   </div>
</div>
</div>