<div class="pages" ng-controller="LoginController">
   <div data-page="login" class="page">
      <div class="page-content text-center login-page">
         <img src="/img/mazer-logo.png" class="logo-mazer" />
         <form id="loginForm" name="loginForm" ng-submit="makeLogin()"  class="login-form">
            <div class="list-block">
               <ul class="no-border">
                  <li>
                     <div class="item-content">
                        <div class="input-icon item-media"><i class="icon ion-email"></i></div>
                        <div class="item-inner no-margin border-bottom">
                           <div class="item-input">
                              <input id="email" placeholder="E-mail" name="email" type="text" class="validate">
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="item-content">
                        <div class="input-icon item-media"><i class="icon ion-key"></i></div>
                        <div class="item-inner no-margin border-bottom">
                           <div class="item-input">
                              <input id="password" placeholder="Senha" name="password" type="password" class="validate">
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </form>
         <div class="row">
            <div class="col col-xs-12">
               <button type="submit" class="button button-block btn-circle" ng-click="makeLogin()">ENTRAR</button>
            </div>
         </div>
         <div class="row">
            <div class="col col-xs-12">
               <button type="submit" class="button button-block btn-circle">Entrar com Facebook</button>
            </div>
         </div>
         <div class="text-center margin-bottom-15">
            <a href="#/app/register" class="text-underline text-white">Você não tem uma conta? <br>Cadastre-se agora</a>
         </div>
      </div>
   </div>
</div>
</div>